@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Oswald&display=swap');

body {
    background-color: #74EBDF;
}
header {
    font-family: 'Oswald';
    text-align: center;
    background-image: linear-gradient(to top, #23BEEB, #2340EB);
    color: #ffff;
    padding: 15px;
    border: 1000px;
    margin: 0px;
}

.head1 {
    margin: 1px;
}

.menu {
    text-align: left;
    padding: 15px;
}

main {
    
    background-color: #ffff;
    padding-right: 10px;
    width: 900px;
    margin: auto;
    padding: 1px;
}

.titulo {
    font-family:'Audiowide', sans-serif;
    text-align: left;
    color: #4623EB;
    padding-left: 10px;
}

h2 {
    background-color: rgba(18, 192, 240, 0.329);
    display: inline;
    text-align: left;
    padding-left: 10px;
}

.conteudo {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

a:hover {
    color: rgb(0, 94, 0);
    text-decoration: underline;

}

a {
    color: rgb(0, 94, 0);
    text-decoration: none;
}

img {
    margin-right: 100px;
    margin-left: 40px;
}

.imagem {
    margin-right: 100px;
    margin-left: 300px;
    }

.divv {
    background-color: darkblue;
    padding-right: 10px;
    width: 900px;
    margin: auto;
    padding: 1px;
}

