@charset "UTF-8";

*{
   /*height: 100%; */
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #026773, #3CA6A6);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 15px rgba(0, 89, 99, 0.89);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
     color: #012E40;  
     text-shadow: 1px 1px 0px #012230be;
}

h2{
     text-align: center;
    color: #024959;
}


p{
    text-align: justify;
}

